.menu{
 // width: 200px;
  border-radius: 10%;
  &__items{
    list-style-type: none;
    margin: 0;
    padding: 0;
 //   width: 200px;
    background-color: #f1f1f1;
    overflow: hidden;
  }
  &__item{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float:left;
  }
  &__itemContent{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    &--selected{
      background-color: #555;
      color: white;
    }
    &[class="menu__itemContent"]:hover{
      background-color: darkgray;
      color: white;
    }
  }
}